.message{data: {message: {id: "#{message.id}"}}}
  .message-box
    .message_updata_user
      = message.user.name
    .upper-message__updata
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .lower-message__content
      - if message.content.present?
        = message.content
        %p.lower-message
          = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
          